body {
    background-image: url("https://i.ytimg.com/vi/EBz7uFQsK2Y/maxresdefault.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#title {
    color: green;
}

#targetNumber {
    color: green; 
}
#mainContent {
    background-color: white;
    color: green;
    border:Green;
}

img {
    width: 10em;
    height: 10em;
}

#scoreBox {
    background-color: green;
    overflow: hidden;
    padding-left: 1em;
    height: 2em;
    line-height: 30px;
}